<app-header></app-header>

<!--
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  
    <ion-item href="#" class="ion-activated">
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
</ion-content>
-->
<ion-toolbar>
  <ion-searchbar placeholder="Pesquisar"
                  [(ngModel)]="searchEvent"
                  showCancelButton="focus"
                  animated></ion-searchbar>
</ion-toolbar>


<ion-content>
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let evento of eventos | filter:searchEvent">
          <ion-card class="evento-card" fullscreen>
            <img src="./../../assets/img/familia.jpg" onerror="this.src = './../../assets/img/erro-img.png'" routerLink="/app/eventos/{{evento.id}}" align="middle">
            <ion-card-header routerLink="/app/eventos/{{evento.id}}">
              <ion-card-subtitle> {{evento.date}} </ion-card-subtitle>
              <ion-card-title> {{evento.name}} </ion-card-title>
              <ion-card-subtitle> {{evento.location}} </ion-card-subtitle>
            </ion-card-header> 
            <ion-card-content>
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col size="8">
                    <ion-button size="small" class="btn-participar ion-float-left">Participar</ion-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button size="small" class="ion-float-right">
                      <ion-icon  name="star"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button size="small" class="ion-float-right">
                      <ion-icon name="share"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row> 
              </ion-grid>             
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink="/app/eventos/criar-evento">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
</ion-content>
