<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="./../../assets/img/logo.png" width="60px" style="display:inline-block"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item routerLink="/app/chat/chat-box">
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Membro</h2>
        <p>Mensagem...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>