<ion-content class="ion-no-padding">
  
  <h1>Criar Evento</h1>
  <h3>Presencial</h3>

  <form>
    <app-input label="Nome do Evento*"></app-input>
    <app-input label="Data Início*"></app-input>
    <app-input label="Data Fim*"></app-input>
    <app-input label="Hora Início*"></app-input>
    <app-input label="Hora Fim*"></app-input>
    <app-input label="Endereço*" ></app-input>
    <app-textarea label="Descrição*"  cssclass="oracao"></app-textarea>
    <app-button label='Criar Evento' type="submit"></app-button>
    <p class="footer-text"> <a (click)="cancel()">Cancelar</a> </p>
  </form>
</ion-content>

