<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="./../../assets/img/logo.jpeg" width="60px" style="display:inline-block"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="ion-padding-horizontal ion-padding-top"><h1>Devocional</h1></div>

  <ion-searchbar  placeholder="Buscar..." 
                  show-clear-button="focus" 
                  animated="true"
                  [(ngModel)]="filterCards"></ion-searchbar>

  <ion-card routerLink="/app/devocional/{{devocional.id}}" *ngFor="let devocional of devocionais | filter:filterCards; index as i">
    <div class="ion-no-padding ion-no-margin"><!--</div>  *ngIf="devocionais[devocionais.length-i-1] as devocional">-->
      <img class="img-card" src="{{devocional.imgURL}}" />
      <ion-card-header>
        <ion-card-title>{{devocional.devotionalTitle}}</ion-card-title>
        <ion-card-subtitle>{{devocional.postDate }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{devocional.devotionalText}}
      </ion-card-content>
    </div>
  </ion-card>
  
  <!--<ion-grid>
     <ion-row>
        <ion-col size="6" *ngFor="let devocional of devocionais">
          <ion-card class="ion-no-margin" routerLink="/app/devocional/{{devocional.id}}">
            <img src="{{devocional.imgURL}}" align="middle">
            <ion-card-header>
              <ion-card-title>{{devocional.devotionalTitle}}</ion-card-title>
              <ion-card-subtitle>{{devocional.postDate | date}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShownButtons">
    <ion-fab-button routerLink="/app/devocional/create-devocional" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
