<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <div class="titleicon">
      <img src="./../../assets/img/logo.png" width="60px" style="display:inline-block"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <h1>Devocional</h1>

  <ion-searchbar  class="ion-no-padding" 
                  placeholder="Buscar..." 
                  show-clear-button="focus" 
                  animated="true"></ion-searchbar>

  <ion-card class="ion-no-margin">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Título Devocional</ion-card-title>
      <ion-card-subtitle>Hoje | Autor</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Primeiros 30 caracteres do pensamento...
    </ion-card-content>
  </ion-card>
  
  <ion-grid>
     <ion-row>
        <ion-col size="6">
          <ion-card class="ion-no-margin">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Título Devocional</ion-card-title>
              <ion-card-subtitle>Hoje | Autor</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="ion-no-margin">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Título Devocional</ion-card-title>
              <ion-card-subtitle>Hoje | Autor</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="ion-no-margin">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Título Devocional</ion-card-title>
              <ion-card-subtitle>Hoje | Autor</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/app/devocional/create-devocional">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
