<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge>1</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" routerLink="/">
      <img src="./../../assets/img/logo.png" alt="BatistApp" height="62px" />
    </ion-title>
  </ion-toolbar>
</ion-header>
