<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="ion-text-center">
          <ion-tab-button tab="" class="ion-align-self-center">
            <ion-icon  name="notifications-outline"></ion-icon>
            <ion-label></ion-label>
            <ion-badge>1</ion-badge>
          </ion-tab-button>
        </ion-col>
        <ion-col size="8">
          <ion-tab-button tab="home">
            <ion-img class="logo" src="./../../assets/img/logo.png"></ion-img>
          </ion-tab-button>
        </ion-col>
        <ion-col size="2">
          <ion-tab-button tab="">
            <ion-avatar class="ion-margin-start">
              
            </ion-avatar>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
  </ion-toolbar>
</ion-header>