<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-title>Evento Presencial</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome do Evento</ion-label>
          <ion-input type="text" [(ngModel)]="evento.nome" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Local</ion-label>
          <ion-input type="text" [(ngModel)]="evento.local" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Data Início</ion-label>
          <ion-input type="text" [(ngModel)]="evento.data" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora Início</ion-label>
          <ion-input type="text" [(ngModel)]="evento.horario" required></ion-input>
        </ion-item>
        <ion-buttons>
          <ion-button fill="clear" (click)="cancel()">Cancelar</ion-button>
          <ion-button fill="solid" (click)="create()">Criar</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
</ion-content>
