<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="./../../assets/img/logo.jpeg" width="60px" style="display:inline-block"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="ion-padding-horizontal ion-padding-top"><h1>Eventos</h1></div>

  <ion-searchbar  placeholder="Buscar..." 
                  show-clear-button="focus" 
                  animated="true"
                  [(ngModel)]="filterCards"></ion-searchbar>


  <ion-card class="evento-card" *ngFor="let evento of eventos | filter:filterCards; index as i" fullscreen>
    <div class="ion-no-padding ion-no-margin" *ngIf="eventos[eventos.length-i-1] as evento">
      <img class="img-card" src="{{evento.imgURL}}" routerLink="/app/evento/{{evento.id}}" align="middle">
      <ion-card-header routerLink="/app/evento/{{evento.id}}">
        <ion-card-subtitle> {{evento.date}} </ion-card-subtitle>
        <ion-card-title> {{evento.name}} </ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        <ion-card-subtitle> {{evento.place}} </ion-card-subtitle>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShownButtons">
    <ion-fab-button routerLink="/app/evento/create-evento" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
