#card-recent{
    margin-top: 10px !important;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}
  
ion-toolbar {
    --ion-toolbar-background: #ffffff !important;
    --ion-color-base: #ffffff !important;
}

.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-left: 16px;
}

ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
}

#card-event-content{
    padding-top: 0 !important;
}

ion-card-header{
    padding-bottom: 5px !important;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }