<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <div class="titleicon">
      <img src="./../../assets/img/logo.png" width="60px" style="display:inline-block"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="ion-padding-horizontal ion-padding-top"><h1>Eventos</h1></div>

  <ion-searchbar  placeholder="Buscar..." 
                  show-clear-button="focus" 
                  animated="true"></ion-searchbar>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://placem.at/people?overlay_color=feb75a&w=300&h=144" />
    <ion-card-header>
      <ion-card-subtitle>Sáb. 25 de Jul</ion-card-subtitle>
      <ion-card-subtitle><strong>Título do Evento</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content id="card-event-content">
      Descrição...
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/app/evento/create-evento" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
