<ion-content class="ion-no-padding">
  
  <h1>Criar Evento</h1>
  <h3>Online</h3>

  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input type="text" [(ngModel)]="evento.name"
    name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-input type="text" [(ngModel)]="evento.date"
    name="date" placeholder="Ex. 25/11/2022"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Link do Evento</ion-label>
    <ion-input type="text" [(ngModel)]="evento.place"
    name="place"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Imagem de Capa</ion-label>
    <ion-input type="file" ></ion-input>
  </ion-item>

  <ion-button expand='block' (click)="create()">Criar Devocional</ion-button>
  
</ion-content>