<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/eventos"></ion-back-button>
    </ion-buttons>
    <ion-title>criar-evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-no-padding ion-no-margin" *ngIf="isShownButtons">
    <ion-card (click)="formPresencial()">
      <ion-card-header>
        <ion-title>
          Presencial
            <ion-icon item-right name="md-create"></ion-icon>
        </ion-title>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="formOnline()">
      <ion-card-header>
        <ion-title>
          Online
            <ion-icon item-right name="md-create"></ion-icon>
        </ion-title>
      </ion-card-header>
    </ion-card>
  </div>

  <app-presencial *ngIf="isShownPresencial"></app-presencial>
  <app-online *ngIf="isShownOnline" ></app-online>
  
  
</ion-content>