<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="./../../assets/img/logo.jpeg" width="100px" style="display:inline-block"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-no-padding">
    <p class="ion-no-margin ion-padding-horizontal ion-padding-top">{{data}}</p>
    <h1 class="ion-no-margin ion-padding-horizontal">Devocional do dia</h1>
  </div>
  
  <ion-card routerLink="/app/devocional/{{devocional.id}}" *ngFor="let devocional of devocionais">
    <div class="ion-no-padding ion-no-margin" *ngIf="devocional.postDate == dataDev">
      <img class="img-card" src="{{devocional.imgURL}}" />
      <ion-card-header>
        <ion-card-title>{{devocional.devotionalTitle}}</ion-card-title>
        <ion-card-subtitle>{{devocional.devotionalText }}</ion-card-subtitle>
      </ion-card-header>
    </div>
  </ion-card>
  
  <div class="ion-no-padding">
    <h1 class="ion-padding-horizontal">Eventos Recentes</h1>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let evento of eventos | slice:0:3 ; index as i">
      <ion-card class="cardslide ion-text-start" routerLink="/app/evento/{{evento.id}}">
        <img class="img-card" src="{{evento.imgURL}}">
        <ion-card-header>
          <ion-card-subtitle> {{evento.date}} </ion-card-subtitle>
          <ion-card-title> {{evento.name}} </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
