<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="./../../assets/img/logo.png" width="60px" style="display:inline-block"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-no-padding">
    <p class="ion-no-margin ion-padding-horizontal ion-padding-top">SEG, 07 de outubro de 2022</p>
    <h1 class="ion-no-margin ion-padding-horizontal">Devocional do dia</h1>
  </div>
  
  <ion-card class="ion-text-start">
    <div class="ion-no-padding ion-no-margin">
      <img src="https://placem.at/people?overlay_color=feb75a&w=300&h=144">
      <ion-card-header>
        <ion-card-title>Título Devocional</ion-card-title>
        <ion-card-subtitle>Pensamento...</ion-card-subtitle>
      </ion-card-header>
    </div>
  </ion-card>
  
  <div class="ion-no-padding">
    <h1 class="ion-padding-horizontal">Eventos Recentes</h1>
  </div>
  
  <ion-slides>
    <ion-slide>
      <ion-card class="ion-text-start">
        <img src="https://placem.at/people?overlay_color=feb75a&w=150&h=150">
        <ion-card-header>
          <ion-card-subtitle>01/01/1900</ion-card-subtitle>
          <ion-card-title> Título Evento </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-text-start">
        <img src="https://placem.at/people?overlay_color=feb75a&w=150&h=150">
        <ion-card-header>
          <ion-card-subtitle>01/01/1900</ion-card-subtitle>
          <ion-card-title> Título Evento </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
