.class-margin{
    margin: 8px;
}

img {
    border-radius: 10px !important;
    width: 100%;
}

.titulo{
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
  }

span{
    color: #919191;
    font-size: 13px;
}  

p{
    color: black;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
}

.versiculo{
    font-style: italic;
    padding: 10px;
}

ion-card{
    margin: 20px 0px 0px 0px;
}