<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/app/devocional"></ion-back-button>
    </ion-buttons>
    <ion-title>BatistApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-no-padding ion-no-margin" *ngIf="isShownView">
    <div class="class-margin">
      <img src="{{ devocional.imgURL }}">
      <div>
        <h1 class="ion-no-margin">{{ devocional.devotionalTitle }}</h1>
        <span>{{ devocional.postDate}}</span>
        
        <ion-card>
          <p class="versiculo">
            {{ devocional.textVersicle }}
          </p>
        </ion-card>
        <p class="texto-devocional">
          {{ devocional.devotionalText }}
        </p>
        <p>
          <b>Para Orar: </b> {{ devocional.prayerText }}
        </p>
      </div>
    </div>
  </div>

  <app-editar *ngIf="isShownEditar"></app-editar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShownView && isShownButtons == true" >
    <ion-fab-button size="small">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="delete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="clickEditar()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
