<ion-content class="ion-padding">

  <img src="./../../assets/img/logo.jpeg"/>

  <h1>Bem Vindo,</h1>
  <h3>Entre para continuar!</h3>

  <form [formGroup]="login">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required formControlName="senha" name="senha"></ion-input>
    </ion-item>
    
    <a class="forgot-password-link" (click)="presentAlert()">Esqueceu a Senha?</a>

    <ion-button expand='block' (click)="logForm()">Entrar</ion-button>
  </form>

  <p class="footer-text">Primeiro acesso? <a routerLink="/register">Cadastre-se</a></p>
  