<ion-content class="ion-padding">

  <img src="./../../assets/img/logo.png"/>

  <h1>Bem Vindo,</h1>
  <h3>Entre para continuar!</h3>

  <form>
    <app-input label="Email" type="email"></app-input>
    <app-input label="Senha" type="password" light></app-input>
    <a routerLink="#" class="forgot-password-link">Esqueceu a Senha?</a>

    <app-button label='Login' type="submit" routerLink="/app"></app-button>
  </form>

  <p class="footer-text">Primeiro acesso? <a routerLink="/register">Cadastre-se</a></p>
  