<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/app/evento"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  
  <div class="ion-no-padding ion-no-margin" *ngIf="isShownButtons">
    <h1>Criar Evento</h1>

    <ion-card (click)="formPresencial()">
      <ion-card-header>
        <ion-card-title> Presencial</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="formOnline()">
      <ion-card-header>
        <ion-card-title> Online</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div> 

  <app-form-presencial *ngIf="isShownPresencial"></app-form-presencial>
  <app-form-online *ngIf="isShownOnline" ></app-form-online>
</ion-content>
