<ion-header>
  <ion-toolbar>
    <ion-title>devocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="devocional">
  <div class="ion-no-padding ion-no-margin" *ngIf="isShownView">
    <img src="./../../assets/img/familia.jpg" onerror="this.src = './../../assets/img/erro-img.png'">
    <div>
      <h1 class="titulo">{{ devocional.tituloDevocional }}</h1>
      <h3 class="autor">Pastor Claudio</h3>
      <p>{{ devocional.dataPostagem }}</p>
      <ion-card class="ion-no-padding ion-no-margin">
        <p class="versiculo ion-padding">
          {{ devocional.textoVersiculo }}
        </p>
      </ion-card>
      <p>
        {{ devocional.textoDevocional}}
      </p>
      <ion-card class="ion-no-padding ion-no-margin">
        <p class="oracao ion-padding">
          <b>Para Orar: </b>{{ devocional.textoOracao}}
        </p>
      </ion-card>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="deleteDevocional()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="clickEdiar()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    
  </div>
  <app-editar-devocional *ngIf="isShownEditar"></app-editar-devocional>
</ion-content>


