* {
    margin: 0;
    padding: 0;
  }

  ion-toolbar {
    --ion-toolbar-background: transparent;
    --ion-color-base: transparent !important;


  }
  
  
  
  h1 {
    margin-top: 50%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    color: #939fab;
    font-weight: 600;
  }
  
  form {
    margin-top: 6rem;
    
   
  
    app-button {
      display: block;
      margin-top: 3rem;
    }
  }
  
  .footer-text {
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
  
    a {
      text-decoration: none;
      font-weight: 600;
      color: #0bbcac;
    }
  }
