.header {
    height: 180px;
    background-color: #0bbcac;
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #0bbcac;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.list_div{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    margin: 20px 10px 10px 10px;
    padding: 15px;

    ion-icon{
        font-size: 20px;
    }
}

.list_accordion{
    justify-content: space-between !important;
    border-radius: 5px !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3) !important;
    margin: 20px 10px 10px 10px !important;
    padding: 15px !important;
}
