<ion-content>
  <div class="header">
    <h2>{{ user }}</h2>
    <div class="space-between">
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="https://placem.at/people?overlay_color=feb75a&w=200&h=200">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="list_div">
      <ion-label>Editar Perfil</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="list_div" (click)="presentAlert()">
      <ion-label>Sair</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
