<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/app/evento"></ion-back-button>
    </ion-buttons>
    <ion-title>BatistApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="class-margin">
    <img src="https://placem.at/people?overlay_color=feb75a&w=300&h=196">
    <div>
      <h1 class="ion-no-margin">Festa do Pijama</h1>
      <p>30/09, 20:00 até 29/10, 11:00</p>
      <p>Rua da Liberdade, 442</p>

      <p>
        <b>Sobre: </b> Oração...
      </p>

    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <app-button label='Eu vou' routerLink="/app/evento"></app-button>
</ion-content>
