<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/app/evento"></ion-back-button>
    </ion-buttons>
    <ion-title>BatistApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="class-margin">
    <img class="img-card" src="{{ evento.imgURL }}">
    <div>
      <h1 class="ion-no-margin">{{ evento.name }}</h1>
      <p>Data: {{ evento.date | date}}</p>
      <p>Local: {{ evento.place }}</p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShownView && isShownButtons == true">
    <ion-fab-button size="small">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-button expand='block' (click)="setStatus()">{{status}}</ion-button>
</ion-content>
